version: '3.2'

volumes:
  nextcloud:
  db:
  redis:

services:
  redis:
    build:
      context: ./redis
    image: redis-for-nextcloud
    container_name: nextcloud-redis
    privileged: true
    restart: always
    command: sh -c "./init.sh && redis-server --save 60 1 --loglevel warning"
    volumes:
      - ./data/redis:/data:rw
    ports:
      - 6379:6379
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 3s
      timeout: 3s
      retries: 30

  db:
    image: mariadb
    container_name: nextcloud-db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb_read_only_compressed=OFF
    volumes:
      - ./data/db:/var/lib/postgresql/data
    depends_on:
      - redis
    healthcheck:
      test: "/usr/bin/mysql --user=nextcloud --password=password --execute \"SHOW DATABASES;\""
      # test: "/usr/local/mysql/bin/mysql --user=foo --password=foo --execute \"SHOW DATABASES;\""
      interval: 2s
      timeout: 3s
      retries: 15
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  app:
    image: nextcloud
    container_name: nextcloud-app
    restart: always
    ports:
      - 8081:80
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./data/nextcloud/nextcloud:/var/www/html
      - ./data/nextcloud/apps:/var/www/html/custom_apps
      - ./data/nextcloud/config:/var/www/html/config
      - ./data/nextcloud/data:/var/www/html/data
    environment:
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - NEXTCLOUD_ADMIN_USER=andre
      - NEXTCLOUD_ADMIN_PASSWORD=admin
      # - NEXTCLOUD_TRUSTED_DOMAINS=127.0.0.1
      - NEXTCLOUD_TRUSTED_DOMAINS=192.168.1.8 #YOUR-NEXTLOUD-IP-OR-DOMAIN
      - OVERWRITEPROTOCOL=http
      - REDIS_HOST=redis
